# Python Virtual Environments
venv/
.env/
*.venv/
pip-selfcheck.json

# Interpreter Cache
__pycache__/
*.py[cod]

# IDE-specific Files
.vscode/
.idea/

# Local Settings and Secrets
.env
*.env.local

# System Files (macOS/Windows)
.DS_Store
Thumbs.db

# Log File
diagnostics.log
